
.callOutCanvas
{
	z-index: 12;
	position: relative;
	top:  10px;
	left: 10px;
}

.gridSlider
{
	display: inline-block;
	height: 120px;
	width: 5px;
}
.gridSlider .ui-slider-handle
{
	left: -6px;
	margin-left: 0;
	/*margin-bottom: -12px;*/
}



canvas
{
	margin:  0;
	padding: 0;
	/*border-bottom: 1px solid #F30;*/
}
